# Data analysis on Coronavirus outbreak

In [12]:
# import the necessary libraries
import numpy as np 
import pandas as pd 

# Visualisation libraries
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("corona_geral.csv")

In [17]:
df.info()
df.head()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  52 non-null     object
 1   Country/Region  73 non-null     object
 2   Last Update     73 non-null     object
 3   Confirmed       73 non-null     int64
 4   Deaths          73 non-null     int64
 5   Recovered       73 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.5+ KB

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered'],
      dtype='object')

In [19]:
df
countries = df["Country/Region"].map()

df.rename({})
data['Country/Region'].replace({'Mainland China':'China'},inplace=True)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date
0,Hubei,Mainland China,2020-02-12 14:13:08,33366,1068,2686,2020-02-12 14:13:08
1,Guangdong,Mainland China,2020-02-12 12:23:09,1219,1,275,2020-02-12 12:23:09
2,Henan,Mainland China,2020-02-12 14:13:08,1135,8,246,2020-02-12 14:13:08
3,Zhejiang,Mainland China,2020-02-12 10:13:20,1131,0,321,2020-02-12 10:13:20
4,Hunan,Mainland China,2020-02-12 12:43:03,946,2,304,2020-02-12 12:43:03
...,...,...,...,...,...,...,...
68,"Madison, WI",US,2020-02-05 21:53:02,1,0,0,2020-02-05 21:53:02
69,"Orange, CA",US,2020-02-01 19:53:03,1,0,0,2020-02-01 19:53:03
70,"San Diego County, CA",US,2020-02-11 01:23:05,1,0,0,2020-02-11 01:23:05
71,"Seattle, WA",US,2020-02-09 07:03:04,1,0,1,2020-02-09 07:03:04
72,"Tempe, AZ",US,2020-02-01 19:43:03,1,0,0,2020-02-01 19:43:03